<div class="container">
    <h2> Apuntado a las siguientes ligas:</h2>
    <br>
    <div *ngIf="ligas.length != 0">
        <hr>
            <a *ngFor="let liga of ligas" routerLink="liga" [queryParams]="{id:liga.id}">
                <h3>{{liga.edicion}} Edicion Liga {{liga.formato}} Alcora</h3>
                <b>fecha Inicio:</b> {{liga.fecha_ini | date:'dd/MM/yyyy'}}
                <br>
                <b>fecha Fin: </b>{{liga.fecha_fin | date:'dd/MM/yyyy'}}
                <hr>
            </a>
    </div>
</div>