.resultado{
    width:70px;
}

.loader{
    text-align: center;
}

img{
    width: 150px;
    margin-top: 30vh;
}

button{
margin-left: 20px;
height: 50px !important;
background-color: #dd9932 !important;
}

b{
    margin-left: 15px;
}