<div class="container">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>

      <input matInput [formControl]="username" required />

      <mat-error *ngIf="username.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>

      <input
        matInput
        [formControl]="password"
        [type]="hide ? 'password' : 'text'"
      />

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      <mat-error *ngIf="password.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <button
      class="submit"
      mat-raised-button
      [disabled]="username.invalid || password.invalid"
      type="submit"
      value="Submit"
    >
      Log in
    </button>
  </form>
</div>
