.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: 2px solid #321d80;
  border-radius: 20px;
  gap: 10px;
  backdrop-filter: blur(5px);
}

mat-form-field {
  width: 250px;
}

.submit {
  width: 200px;
  height: 50px !important;
  background-color: #321d80 !important;
  color: white !important;
  margin-top: 20px;
}

.submit:disabled {
  background-color: #321d8070 !important;
  color: #ffffff90;
}

.snackbar {
  background-color: crimson !important;
}

.snackbar {
  --mdc-snackbar-container-color: #2196f3;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

img {
  width: 100vw;
  height: 100vh;
  max-height: fit-content;
  z-index: -1;
  position: absolute;
  top: 0;
}
