
<form (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>Enter your username</mat-label>
        <input matInput  [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
<br>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
<br>
      <input type="submit" value="Submit">
</form>

<button type="button" value="Submit" (click)="signout()"> SIgn out</button>

<button type="button" value="Submit" (click)="admin()"> admin test</button>
