Usuarios:
<mat-accordion>
    <mat-expansion-panel *ngFor="let user of users">  
        <mat-expansion-panel-header>
            <mat-panel-title>
                 {{user.nombre}} 
                 <div class="ligas">
                    <span *ngFor="let lig of user.liga">
                        {{lig.edicion.substring(0,1)}}.{{lig.formato.substring(0,1)}}
                    </span>
                </div>
            </mat-panel-title>
            <mat-panel-description>
                ID: {{user.id}} |
                usuario: {{user.username}}
            </mat-panel-description>
        </mat-expansion-panel-header>
       <b> Pertenece a estas ligas:</b>
        <div  *ngFor="let lig of user.liga ">
           · {{lig.edicion}} {{lig.formato}} <button type="button" routerLink="partidass" [queryParams]="{liga:lig.id,player:user.id}">Mostrar partidas</button> 
        </div>
        <br><br>

        <div class="anadir">
            Añadir a la Liga:
            <mat-form-field appearance="fill" >
                <mat-select #seleccion value="">
                  <mat-option  *ngFor="let lig of ligas" value={{lig.id}}>
                    {{lig.edicion}} {{lig.formato}} 
                </mat-option>
                </mat-select>
              </mat-form-field>
            <button type="button" (click)="anadirALiga(seleccion.value,user.id)"> añadir</button>
        </div>

        <div class="reset">
            Resetear contraseña
            <input #pass type="text">
            <button type="button" (click)="cambiarPass(user.username,pass.value)">resetar</button>
        </div>
        <br>
        <button type="button">Mostrar partidas</button>
    </mat-expansion-panel>

</mat-accordion>
