<mat-toolbar>
  <mat-toolbar-row>
    <a href=""><span class="logo"><img src="./assets/images/logo.png">From Below Team</span></a>
    <span class="vertical-line"></span>
    <span class="example-spacer"></span>
    <button mat-raised-button *ngIf="logged" routerLink="perfil">Perfil</button>  
    <button mat-raised-button *ngIf="logged && role=='admin'" routerLink="admin">Panel Admin</button>  
    <span class="space-left"></span>
    <a routerLink="login" *ngIf="!logged">Log in</a>
    <a (click)="signout()" href="" *ngIf="logged">Log out</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>