<mat-toolbar>
  <mat-toolbar-row>
    <a href=""><span class="logo"><img src="./assets/images/logo.png">From Below Team</span></a>
    <span class="vertical-line"></span>
    <span class="example-spacer"></span>
    <button mat-raised-button>Torneos</button>   
    <button mat-raised-button>Ligas</button>  
    <button mat-raised-button>Eventos</button>  
    <span class="space-left"></span>
    <a routerLink="login">Log in</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>