<h3>Crear clasificacion y partidas de liga existente</h3>
Ejecutar <b>solo una vez </b>al comienzo de la liga, <b>cuando todos los usuarios ya esten añadidos a la liga</b>.
Si se vuelve a ejecutar por segunda vez duplicara todas las partidas y la clasificacion.
(puta mierda, lo se, pero que lo arregle otro)
<br>
<select #seleccion value="">
  <ng-container *ngFor="let lig of ligas">
    <option *ngIf="lig.activa" value={{lig.id}}>
        {{lig.edicion}} {{lig.formato}}
    </option>
  </ng-container>
    </select>
<button type="button" (click)="crearClasPart(seleccion.value)">crear Clasificacion y partidas</button>

<br><br>
<h3>Crear liga nueva</h3>
edicion
<br>
<input type="text" [(ngModel)]=edicion>
<br>
formato
<br>
<input type="text" [(ngModel)]=formato>
<br>
<br>
<mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>

  <br><br>
  Activa:
  <br>
    <input type="radio" [(ngModel)]=activa id="html" name="fav_language" value=true>
 <label for="html">true</label><br>
  <input type="radio" [(ngModel)]=activa id="css" name="fav_language" value=false>
  <label for="css">false</label><br>

  <button (click)="crearLiga()">submit</button>


<br>
<h3>Activar/Desactivar ligas</h3>
<select #liges value="">
  <option *ngFor="let lig of ligas" value={{lig.id}}>
      {{lig.edicion}} {{lig.formato}}
  </option>
  </select>
<br>
  Activa:
  <br>
    <input type="radio" [(ngModel)]=activa2 id="html" value=true>
 <label for="html">true</label><br>
  <input type="radio" [(ngModel)]=activa2 id="css" value=false>
  <label for="css">false</label><br>
  <button (click)="DesActLiga(liges.value)">submit</button>