.container {
  text-align: center;
  font-family: "Magic";
  height: 92vh;
  padding-top: 8vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: white;
  margin-top: 500px;
}

.iconos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "MagicIcons";
  font-size: 4rem;
  gap: 15px;
}

img {
  height: 100vh;
  max-height: fit-content;
  z-index: -1;
  position: absolute;
  top: 0;

  @media (min-width: 1200px) {
    width: 100vw;
  }
}

.white {
  color: #ad9f09;
}

.black {
  color: #1c1c1c;
}

.blue {
  color: #3573cf;
}

.red {
  color: #c33b31;
}

.green {
  color: #3e9920;
}
